*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

html{
  scrollbar-width: none;
  height: 100%;
}

html::-webkit-scrollbar{
  display: none;
}

body{
  min-height: 100%;
  font-family: 'Square Peg', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 90px;

}
h2{
  font-size: 70px;
}

.img{
  margin: 160px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo:hover{
  transform: scale(1.2);
}







